*.ktx2 filter=lfs diff=lfs merge=lfs -text
vendor/basis_universal/**/* filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
original_assets/**/* filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
