*.ktx2 filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
original_assets/**/* filter=lfs diff=lfs merge=lfs -text
crates/basisu_sys/src/snapshots/* filter=lfs diff=lfs merge=lfs -text
